.contenedorContacto {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tituloContacto {
  margin-top: 3rem;
}
.contacto__form {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 90%;
  max-width: 500px;
  background: rgb(192, 187, 187);
  margin: auto;
  margin-top: 4rem;
  margin-bottom: 4rem;
  border-radius: 5px;
}
.contacto__form .form__text {
  font-size: 1rem;
  margin-bottom: 0.5rem;
}
.contacto__form .fieldText {
  width: 100%;
  padding: 0.3rem;
  margin-bottom: 1rem;
  border-radius: 5px;
  border: 1px;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.contacto__form .textarea {
  width: 100%;
  margin-bottom: 2rem;
  border-radius: 5px;
}
.contacto__form .checkAceptacion {
  margin-top: 1rem;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 1rem;
}
.contacto__form .option {
  display: block;
  margin-bottom: 1rem;
}
.contacto__form .textArea__label {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
